<!DOCTYPE html>
<style>
@font-face {
    src: url('<%=fontDir%>test.woff');
}
</style>
<% if (isTest) { %>
    <div id="test">test</div>
<% } if (isReference) { %>
    <div id="ref">ref</div>
<% } %>
